In [2]:
import polars as pl
df = pl.DataFrame({'a': [1,2,3], 'b': [4,5,6]  , "c" : [6,7,8]})

In [22]:
import polars as pl # if you don't have polars, run 
                    # pip install 'polars[all]'
data = pl.from_repr("""
┌─────────────────────┬─────────────────────┬─────┐
│ arrival_time        ┆ departure_time      ┆ ID  │
│ ---                 ┆ ---                 ┆ --- │
│ datetime[μs]        ┆ datetime[μs]        ┆ str │
╞═════════════════════╪═════════════════════╪═════╡
│ 2023-01-01 06:23:47 ┆ 2023-01-01 06:25:08 ┆ A1  │
│ 2023-01-01 06:26:42 ┆ 2023-01-01 06:28:02 ┆ A1  │
│ 2023-01-01 06:30:20 ┆ 2023-01-01 06:35:01 ┆ A5  │
│ 2023-01-01 06:32:06 ┆ 2023-01-01 06:33:48 ┆ A6  │
│ 2023-01-01 06:33:09 ┆ 2023-01-01 06:36:01 ┆ B3  │
│ 2023-01-01 06:34:08 ┆ 2023-01-01 06:39:49 ┆ C3  │
│ 2023-01-01 06:36:40 ┆ 2023-01-01 06:38:34 ┆ A6  │
│ 2023-01-01 06:37:43 ┆ 2023-01-01 06:40:48 ┆ A5  │
│ 2023-01-01 06:39:48 ┆ 2023-01-01 06:46:10 ┆ A6  │
└─────────────────────┴─────────────────────┴─────┘
""")

In [5]:
df.select(pl.implode(df.columns))

shape: (1, 3)
┌───────────┬───────────┬───────────┐
│ a         ┆ b         ┆ c         │
│ ---       ┆ ---       ┆ ---       │
│ list[i64] ┆ list[i64] ┆ list[i64] │
╞═══════════╪═══════════╪═══════════╡
│ [1, 2, 3] ┆ [4, 5, 6] ┆ [6, 7, 8] │
└───────────┴───────────┴───────────┘

In [9]:
import polars as pl
# force use object here for demo, custom object in real production
s=pl.Series([0,1,2], dtype=pl.Object) 

print(s.apply(lambda x: {"a":str(x), "b":x}, return_dtype=pl.Object))

shape: (3,)
Series: '' [o][object]
[
	{'a': '0', 'b': 0}
	{'a': '1', 'b': 1}
	{'a': '2', 'b': 2}
]

In [14]:
data = pl.DataFrame(
    {'geo': ["[[-99.134,19.401],[-98.234,16.403],[-99.432,19.401]]",
     "[[-99.1962,19.401],[-95.196,19.345]]",
     "[[-93.196,19.401],[-94.196,19.401],[-99.196,19.401],[-99.196,19.401]]"]})

In [19]:
data.with_columns(pl.col("geo").str.split(",").list.eval(pl.element().str.split(")

shape: (3, 1)
┌───────────────────────────────────┐
│ geo                               │
│ ---                               │
│ list[str]                         │
╞═══════════════════════════════════╡
│ ["[[-99.134", "19.401]", … "19.4… │
│ ["[[-99.1962", "19.401]", … "19.… │
│ ["[[-93.196", "19.401]", … "19.4… │
└───────────────────────────────────┘

In [45]:
import polars as pl
import duckdb as db
df = pl.from_repr("""
┌─────────────────────┬─────────────────────┬─────┐
│ arrival_time        ┆ departure_time      ┆ ID  │
│ ---                 ┆ ---                 ┆ --- │
│ datetime[μs]        ┆ datetime[μs]        ┆ str │
╞═════════════════════╪═════════════════════╪═════╡
│ 2023-01-01 06:23:47 ┆ 2023-01-01 06:25:08 ┆ A1  │
│ 2023-01-01 06:26:42 ┆ 2023-01-01 06:28:02 ┆ A1  │
│ 2023-01-01 06:30:20 ┆ 2023-01-01 06:35:01 ┆ A5  │
│ 2023-01-01 06:32:06 ┆ 2023-01-01 06:33:48 ┆ A6  │
│ 2023-01-01 06:33:09 ┆ 2023-01-01 06:36:01 ┆ B3  │
│ 2023-01-01 06:34:08 ┆ 2023-01-01 06:39:49 ┆ C3  │
│ 2023-01-01 06:36:40 ┆ 2023-01-01 06:38:34 ┆ A6  │
│ 2023-01-01 06:37:43 ┆ 2023-01-01 06:40:48 ┆ A5  │
│ 2023-01-01 06:39:48 ┆ 2023-01-01 06:46:10 ┆ A6  │
└─────────────────────┴─────────────────────┴─────┘
""")

db.query("""
SELECT
    A.arrival_time
    ,A.departure_time
    ,A.arrival_time - (INTERVAL 1 MINUTE)   AS window_open
    ,A.departure_time + (INTERVAL 1 MINUTE) AS window_close
    ,LIST_DISTINCT(LIST(B.ID)) AS docked_trucks
    ,LIST_UNIQUE(LIST(B.ID))   AS docked_truck_count
FROM  data A, data B
WHERE B.arrival_time   <= window_close
AND   B.departure_time >= window_open
GROUP BY 1, 2, 3, 4
""").pl()

shape: (9, 6)
┌────────────────┬────────────────┬────────────────┬───────────────┬───────────────┬───────────────┐
│ arrival_time   ┆ departure_time ┆ window_open    ┆ window_close  ┆ docked_trucks ┆ docked_truck_ │
│ ---            ┆ ---            ┆ ---            ┆ ---           ┆ ---           ┆ count         │
│ datetime[μs]   ┆ datetime[μs]   ┆ datetime[μs]   ┆ datetime[μs]  ┆ list[str]     ┆ ---           │
│                ┆                ┆                ┆               ┆               ┆ u64           │
╞════════════════╪════════════════╪════════════════╪═══════════════╪═══════════════╪═══════════════╡
│ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01    ┆ ["A1"]        ┆ 1             │
│ 06:23:47       ┆ 06:25:08       ┆ 06:22:47       ┆ 06:26:08      ┆               ┆               │
│ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01    ┆ ["A1"]        ┆ 1             │
│ 06:26:42       ┆ 06:28:02       ┆ 06:25:42       ┆ 06:29:02      ┆               ┆               │
│ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01    ┆ ["B3", "C3",  ┆ 4             │
│ 06:30:20       ┆ 06:35:01       ┆ 06:29:20       ┆ 06:36:01      ┆ … "A5"]       ┆               │
│ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01    ┆ ["B3", "C3",  ┆ 4             │
│ 06:32:06       ┆ 06:33:48       ┆ 06:31:06       ┆ 06:34:48      ┆ … "A5"]       ┆               │
│ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01    ┆ ["B3", "C3",  ┆ 4             │
│ 06:33:09       ┆ 06:36:01       ┆ 06:32:09       ┆ 06:37:01      ┆ … "A5"]       ┆               │
│ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01    ┆ ["B3", "C3",  ┆ 4             │
│ 06:34:08       ┆ 06:39:49       ┆ 06:33:08       ┆ 06:40:49      ┆ … "A5"]       ┆               │
│ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01    ┆ ["A5", "A6",  ┆ 4             │
│ 06:36:40       ┆ 06:38:34       ┆ 06:35:40       ┆ 06:39:34      ┆ … "B3"]       ┆               │
│ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01    ┆ ["A5", "A6",  ┆ 3             │
│ 06:37:43       ┆ 06:40:48       ┆ 06:36:43       ┆ 06:41:48      ┆ "C3"]         ┆               │
│ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01     ┆ 2023-01-01    ┆ ["A6", "A5",  ┆ 3             │
│ 06:39:48       ┆ 06:46:10       ┆ 06:38:48       ┆ 06:47:10      ┆ "C3"]         ┆               │
└────────────────┴────────────────┴────────────────┴───────────────┴───────────────┴───────────────┘

In [35]:
import duckdb as db
db.query("""
SELECT
     A.arrival_time
    ,A.departure_time
    ,A.window_open
    ,A.window_close
    ,LIST_DISTINCT(LIST(B.ID)) AS docked_trucks
    ,LIST_UNIQUE(LIST(B.ID))   AS docked_truck_count

FROM (
    SELECT *
        ,arrival_time   - (INTERVAL 1 MINUTE) AS window_open
        ,departure_time + (INTERVAL 1 MINUTE) AS window_close
    FROM data) A

LEFT JOIN data B

ON (
    B.arrival_time   <= A.window_close AND
    B.departure_time >= A.window_open
)
GROUP BY 1, 2, 3, 4
""")

┌─────────────────────┬─────────────────────┬─────────────────────┬───┬──────────────────┬────────────────────┐
│    arrival_time     │   departure_time    │     window_open     │ … │  docked_trucks   │ docked_truck_count │
│      timestamp      │      timestamp      │      timestamp      │   │    varchar[]     │       uint64       │
├─────────────────────┼─────────────────────┼─────────────────────┼───┼──────────────────┼────────────────────┤
│ 2023-01-01 06:23:47 │ 2023-01-01 06:25:08 │ 2023-01-01 06:22:47 │ … │ [A1]             │                  1 │
│ 2023-01-01 06:26:42 │ 2023-01-01 06:28:02 │ 2023-01-01 06:25:42 │ … │ [A1]             │                  1 │
│ 2023-01-01 06:30:20 │ 2023-01-01 06:35:01 │ 2023-01-01 06:29:20 │ … │ [B3, C3, A6, A5] │                  4 │
│ 2023-01-01 06:32:06 │ 2023-01-01 06:33:48 │ 2023-01-01 06:31:06 │ … │ [B3, C3, A6, A5] │                  4 │
│ 2023-01-01 06:33:09 │ 2023-01-01 06:36:01 │ 2023-01-01 06:32:09 │ … │ [B3, C3, A6, A5] │                  4 │
│ 2023-01-01 06:34:08 │ 2023-01-01 06:39:49 │ 2023-01-01 06:33:08 │ … │ [B3, C3, A6, A5] │                  4 │
│ 2023-01-01 06:36:40 │ 2023-01-01 06:38:34 │ 2023-01-01 06:35:40 │ … │ [A5, A6, C3, B3] │                  4 │
│ 2023-01-01 06:37:43 │ 2023-01-01 06:40:48 │ 2023-01-01 06:36:43 │ … │ [A5, A6, C3]     │                  3 │
│ 2023-01-01 06:39:48 │ 2023-01-01 06:46:10 │ 2023-01-01 06:38:48 │ … │ [A6, A5, C3]     │                  3 │
├─────────────────────┴─────────────────────┴─────────────────────┴───┴──────────────────┴────────────────────┤
│ 9 rows                                                                                  6 columns (5 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────┘